services:

  frontend:
    build: ./frontend
    container_name: sandstone_frontend
    ports:
      - "80:80"
    depends_on:
      - api

  api:
    build: ./sandstone-backend
    container_name: sandstone_api
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/sandstone_db

  db:
    image: postgres:17
    container_name: sandstone_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=sandstone_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
