apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sandstone-frontend
  namespace: argocd

spec:
  project: default

  source:
    repoURL: https://github.com/Avigotnochill/Devops
    targetRevision: main
    path: k8s/frontend

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
